<div class="fixed w-screen h-full left-5 pr-100 flex relative items-center justify-center">
    <h1 class="text-3xl font-bold text-gray-500">PawFinder</h1>
    <br>
    <div>
        <img src="/src/logo.png" class="m-2 w-16 h-16"/>
    </div>
</div>