<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFinder</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/output.css">
    <script type="text/javascript" src="/JS/darkmode.js" defer></script>
</head>
<body>
    <button class="bg-sky-400 hover:bg-sky-700 ...">Save changes</button>

    <h1 class="text-2xl font-bold">Olá, Tailwind!</h1>
    <br>
    <%- body %>
    <br>
    after
    <br>
    <br>
    <button id="theme-switch">
    A
    </button>
</body>
</html>