<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFinder</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <script type="text/javascript" src="/JS/darkmode.js" defer></script>
</head>
<body>
    before
    <br>
    <%- body %>
    <br>
    after
    <br>
    <br>
    <button id="theme-switch">
    A
    </button>
</body>
</html>