<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFinder</title>
    <link rel="stylesheet" href="/css/output.css">
    <script type="text/javascript" src="/js/darkmode.js" defer></script>
</head>
<body class="bg-neutral-200 dark:bg-slate-950">
    <div class="border-b-1 h-20 border-slate-600 bg-slate-300 dark:bg-slate-900">
    </div>

    <div class="fixed border-r-1 flex justify-center w-45 h-screen border-slate-600 bg-slate-300 dark:bg-slate-900">
        <button id="theme-switch" class="fixed bottom-10 mb-4  rounded-2xl h-8 w-15 bg-green-500 hover:bg-zinc-700"> </button>
    </div>
</body>
</html>