<div class="flex h-screen w-screen">
    <div class="flex w-full justify-center bg-green-700">
        <div class="flex justify-center rounded-2xl h-full w-full ml-45 mr-20 bg-blue-700">

        </div>
    </div>
    <div class="flex w-full justify-center bg-green-600">
        <div class="flex justify-center rounded-2xl h-full w-full mx-20 bg-blue-600">

        </div>
    </div>
</div>