    </script>   
    <form action="/users/login" method="post"
          class="w-120 p-6 rounded-2xl bg-slate-300 dark:bg-slate-800">
    
      <h1 class="text-center w-full mb-4 text-3xl font-bold text-gray-500">
        Login
      </h1>    
      <input type="email"   name="email"    placeholder="Email"
             class="w-full p-2 rounded-lg mb-2 bg-slate-400 dark:bg-slate-900" required>
    
      <input type="password" name="password" placeholder="Senha"
             class="w-full p-2 rounded-lg mb-4 bg-slate-400 dark:bg-slate-900" required>    
      <input type="hidden" id="g-recaptcha-token" name="g-recaptcha-token">
    
      <button type="submit"
              class="block mx-auto rounded-2xl h-8 w-18 bg-green-500 hover:bg-zinc-700">
        Entrar
      </button>
    </form>
    