<script>
    console.log("AAA")
</script>

<form action="/users/login" method="post" class="w-120 p-6 rounded-2xl bg-slate-300 dark:bg-slate-800">
    <h1 class="text-center w-full mb-4 text-3xl font-bold text-gray-500">Login</h1>
    <input type="email" name="email" placeholder="Email" class="w-full outline-none p-2 rounded-lg mb-2 bg-slate-400 dark:bg-slate-900 hover:ring-2 ring-slate-700 dark:ring-slate-200 focus-within:ring-2  focus-within:ring-slate-700 dark:focus-within:ring-slate-200">
    <br>
    <input type="password" name="password" placeholder="Senha" class="w-full p-2 outline-none rounded-lg mb-4 bg-slate-400 dark:bg-slate-900 hover:ring-2 ring-slate-700 dark:ring-slate-200 focus-within:ring-2  focus-within:ring-slate-700 dark:focus-within:ring-slate-200">
    <br>
    <button type="submit" class="block mx-auto rounded-2xl h-8 w-18 hover:bg-zinc-200 dark:hover:bg-slate-950 bg-slate-400 dark:bg-slate-900">Entrar</button>
</form>
