
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<script>
    console.log('Hello World');
</script>
<form action="/users" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Submit</button>

</form>
