<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar um Post</title>
</head>
<body>
    <form action="/posts/create" method="post" enctype="multipart/form-data">
        <h1>Novo Anúncio</h1>
        <br>
        <input type="text" name="title" placeholder="Título do Anúncio" required>
        <br>
        <label for="image">Imagem do Animal:</label>
        <input type="file" name="image" id="image" accept="image/*" required>
        <br>
        <input type="text" name="description" placeholder="Descrição do animal" required>
        <br>
        <input type="checkbox" name="lostOrFound" id="lostOrFound" value="1">
        <label for="lostOrFound">Preencha a caixa caso tenha encontrado o animal</label>
        <br>
        <input type="text" name="lastSeen" placeholder="Último local visto" required>
        <br>
        <input type="datetime-local" name="dateLost" value="2025-05-07T08:30" min="2020-01-01T00:00">
        <br>
        <button type="submit">Publicar</button>
    </form>
</body>
</html>